<html>
	<head>
		<title>Load Balancer APP!</title>
		<meta http-equiv=Content-Type content="text/html;charset=utf-8">
        <style type="text/css">
            .host_list, .pool_list, .member_list, .flow_list{margin-left: 20px; margin-top:10px;}
            .host, .member{margin-top: 6px;margin-bottom: 6px;}
            .host > span{display:inline-block; width:350px;}
            .vip > span{color: red;}
            .pool > span{color: blue;}
            .member > span{color: green;}
            .flow > span{color: purple;}
            .member_list > span{color: black; display:inline-block; width:80px;}
            span.w190{display:inline-block; width:190px;}
            span.w110{display:inline-block; width:110px;}
            span.w80{display:inline-block; width:80px;}
            span.w90{display:inline-block; width:90px;}
            .hidden{display:none;}
        </style>
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
        <script type="text/javascript">
          $.ajaxSetup({
              async: false
          });
          var cancle_update = false;
          function bind_event_for_member(){
              // delete member
              $('.member_deletion_button').click(function(){
                  cancle_update = true;
                  var mid = $(this).parents('.member').attr('mid');
                  $.ajax({
                      type: 'POST',
                      url: 'ajax_del_member',
                      data: 'mid='+mid ,
                      dataType: 'text',
                      success: function(data) {
                            //alert(data);
                            window.location.reload();
                      },
                      error: function(XMLHttpRequest, textStatus, errorThrown){
                            var status = XMLHttpRequest.status
                            var state = XMLHttpRequest.readyState
                            alert('status:'+status+', state:'+state+',textStatus:'+textStatus);
                      },
                  });
              });
              // modify member
              $('.member_modifition_button').click(function(){
                  cancle_update = true;
                  var mid = $(this).parents('.member').attr('mid');
                  console.log('modify member ' + mid);
              });
              // add member
              $('.member_addition_button').click(function(){
                  cancle_update = true;
                  var ipv4 = $(this).parents('.host').attr('ipv4');
                  var port = $(this).parents('.host').attr('port');
                  var mid = ipv4;
                  var pid = $('.pool').attr('pid');
                  var member_list = $('.member');
                  //console.log('length: ' + member_list.size())
                  for (var i=0; i<member_list.size(); i++){
                      member = member_list[i]
                      //console.log('member.id: ' + $(member).attr('mid'));
                      if (mid == $(member).attr('mid')){
                            alert('member alreadly exist!!');
                            return;
                      } 
                  }
                  //member = '{"id":"1", "pool_id":"1", "address":"10.0.0.1", "port":"80"}'
                  var member = '{"id":"'+mid+'", "pool_id":"'+pid+'", "address":"'+ipv4+'", "port":"'+port+'"}'
                  $.ajax({
                      type: 'POST',
                      url: 'ajax_add_member',
                      data: 'member=' + member,
                      dataType: 'text',
                      success: function(data) {
                            //alert(data);
                            window.location.reload();
                      },
                      error: function(XMLHttpRequest, textStatus, errorThrown){
                            var status = XMLHttpRequest.status
                            var state = XMLHttpRequest.readyState
                            alert('status:'+status+', state:'+state+',textStatus:'+textStatus);
                      },
                  });
              });

          }
          function update_member_list(){
              if(cancle_update){
                  return;
              }
              $.ajax({
                  type: 'POST',
                  url: 'ajax_get_member_list',
                  data: 'none=none',
                  dataType: 'text',
                  success: function(data) {
                        var member_list = $.parseJSON(data);
                        //console.log('member_list:'+data);
                        $('.member_list .member').remove();
                        for (var i=0; i<member_list.length; i++){
                            var m = member_list[i];
                            $('#template .member').attr('mid', m['pk']);
                            $('#template .member > span.member_span').html(m['pk']+':'+m['fields']['port']);
                            $('#template .member > span.req_count').html(m['fields']['req_count']);
                            $('#template .member > span.kb_count').html(m['fields']['kb_count']);
                            $('#template .member > span.cpu_load').html(m['fields']['cpu_load']);
                            $('#template .member > span.uptime').html(m['fields']['uptime']);
                            $('#template .member > span.req_per_sec').html(m['fields']['req_per_sec']);
                            $('#template .member > span.byte_per_sec').html(m['fields']['byte_per_sec']);
                            $('#template .member > span.byte_per_req').html(m['fields']['byte_per_req']);
                            $('#template .member > span.busy_workers').html(m['fields']['busy_workers']);
                            $('#template .member > span.idle_workers').html(m['fields']['idle_workers']);
                            $('#template .member > span.update_time').html(m['fields']['update_time']);
                            $('#template .member > .flow_list .flow').remove();
                            //console.log('str(flow_list):' + m['fields']['flow_list']);
                            var flow_list = $.parseJSON(m['fields']['flow_list'])
                            //console.log('flow_list:' + flow_list);
                            var weight = 0.0
                            for (var j=0; j<flow_list.length; j++){
                                var f = flow_list[j];
                                var w = f['packet_count']/(4.0);
                                weight += w;
                                $('#template > .flow > span.number').html((j+1));
                                $('#template > .flow > span.flow_id').html(f['fid']);
                                $('#template > .flow > span.flow_count').html(f['packet_count']/4.0);
                                $('#template > .flow > span.packet_count').html(f['packet_count']);
                                $('#template > .flow > span.duraction').html(f['duraction']);
                                $('#template > .flow > span.weight').html(w.toFixed(8));
                                $('#template > .member > .flow_list').append($('#template > .flow').clone());
                            }
                            $('#template > .member > span.weight').html(weight.toFixed(8));
                            //console.log('member:'+$('#member_template').prop('outerHTML'));
                            //$('.member_list').append($('#member_template').prop('outerHTML'));
                            $('.member_list').append($('#template .member').clone());
                        }
                        bind_event_for_member();
                  },
                  error: function(XMLHttpRequest, textStatus, errorThrown){
                        var status = XMLHttpRequest.status
                        var state = XMLHttpRequest.readyState
                        //alert('status:'+status+', state:'+state+',textStatus:'+textStatus);
                  },
              });
          }
          $(document).ready(function(){
              // modify vip
              $('.vip_modifition_button').click(function(){
                  var vid = $(this).parents('.vip').attr('vid');
                  console.log('modify vip ' + vid);
              });
              //bind_event_for_member();
              update_member_list()
              setInterval(update_member_list, 10000);
              // member detail
              $('.member_detail_button').click(function(){
                  $('.member .flow_list').toggle();
              });
          });
        </script>
	</head>
	<body>
<div id="template" class="hidden">
  <div class="member" mid="">
    <span class="member_span w110"></span>
    <span class="req_count w80"></span>
    <span class="kb_count w80"></span>
    <span class="cpu_load w90"></span>
    <span class="uptime w80"></span>
    <span class="req_per_sec w90"></span>
    <span class="byte_per_sec w80"></span>
    <span class="byte_per_req w80"></span>
    <span class="busy_workers w90"></span>
    <span class="idle_workers w90"></span>
    <span class="weight w110">1.0</span>
    <span class="update_time w80"></span>
    <span class="w80"><input type="button" value="删除" class="member_deletion_button"/></span>
    <span class="w80"><input type="button" value="修改" class="member_modifition_button hidden"/></span>
    <div class="flow_list">
        <span class="w80">流水号</span>
        <span class="w190">Flow ID</span>
        <span class="w80">FlowCount</span>
        <span class="w80">PacketCount</span>
        <span class="w80">Duraction</span>
        <span class="w80">Weight(FC/D)</span>
    </div>
  </div>
  <div class="flow">
    <span class="number w80"></span>
    <span class="flow_id w190"></span>
    <span class="flow_count w80"></span>
    <span class="packet_count w80"></span>
    <span class="duraction w80"></span>
    <span class="weight w80"></span>
  </div>
</div>

		<h1>Hello, This is Load Balancer APP!</h1>
        <hr/>
        <h2>Host list</h2>
        <div class="host_list">
        {% for h in host_list %}
        <div class="host" ipv4="{{h.ipv4}}" port="80">
                <span>{{h}}</span>
                    &nbsp;&nbsp;<input type="button" value="添加" class="member_addition_button"/>
            </div>
        {% endfor %}
        </div>
        <hr/>
        <div class="vip_list">
        <h2>VIP list</h2>
        {% for vip in vip_list %}
        <div class="vip" vid="{{vip.vid}}">
                <span>{{vip}}</span>
                &nbsp;&nbsp;<input type="button" value="修改" class="vip_modifition_button"/>
                <div class="pool_list">
                {% for pool in vip.lbpool_set.all %}
                <div class="pool" pid="{{pool.pid}}">
                        <span>{{pool}}</span>
                        <div class="member_list">
                                <span class="w110">LB Member</span>
                                <span class="w80">请求数</span>
                                <span class="w80">字节数(KB)</span>
                                <span class="w90">CPU负载</span>
                                <span class="w80">uptime</span>
                                <span class="w90">ReqPerSec</span>
                                <span class="w80">BytePerSec</span>
                                <span class="w80">BytePerReq</span>
                                <span class="w90">BusyWorkers</span>
                                <span class="w90">IdleWorkers</span>
                                <span class="w110">Weight(FC/D)</span>
                                <span class="w80">更新时间</span>
                                <span class="w80"><input type="button" value="详情" class="member_detail_button"/></span>
                            {% for member in pool.lbmember_set.all %}
                            {% endfor %}
                            <!--
                            <div class="member" mid="{{member.mid}}">
                                <span class="member_span w110">{{member.naddress}}:{{member.port}}</span>
                                <span class="req_count w80">{{member.req_count}}</span>
                                <span class="kb_count w80">{{member.kb_count}}</span>
                                <span class="cpu_load w90">{{member.cpu_load}}</span>
                                <span class="uptime w80">{{member.uptime}}</span>
                                <span class="req_per_sec w90">{{member.req_per_sec}}</span>
                                <span class="byte_per_sec w80">{{member.byte_per_sec}}</span>
                                <span class="byte_per_req w80">{{member.byte_per_req}}</span>
                                <span class="busy_workers w90">{{member.busy_workers}}</span>
                                <span class="idle_workers w90">{{member.idle_workers}}</span>
                                <span class="update_time w80">{{member.update_time}}</span>
                                &nbsp;&nbsp;<input type="button" value="修改" class="member_modifition_button hidden"/>
                                &nbsp;&nbsp;<input type="button" value="删除" class="member_deletion_button"/>
                            </div>
                            -->
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        {% endfor %}
        </div>
	</body>
</html>
